chatGPTAccountPool:
  - email: vyez86@geforce.icu
    password: sklf2421708
    session_token: s%3AVKc4n4xrf_v9xlWQaFJyer_yLMp5y-ny.RTzwyO%2B
chatPrivateTiggerKeyword: ""
openAIProxy: ""
clearanceToken: ""
userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
